<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- cityspace是命名空间，为Mapper接口的全限定名-->
<mapper namespace="com.liang.helper.dao.SupplierDao">




    <!-- Supplier selectSupplierById(int id); 根据供应商ID查找供应商   点击商品明细的时候可以请求看供销商名称-->
      <select id="selectSupplierById" resultType="com.liang.helper.beans.Supplier" >
                select * from supplier where supplierID = #{supplierID}
      </select>

    <!-- int selectSupplierByName(String SupplierName);根据供应商名称 返回供应商ID
    场景：这个返回的ID可以用来查找详细的商品列表-->
    <select id="selectSupplierByName" resultType="java.lang.Integer" >
                select supplierID from supplier where supplierName = #{SupplierName}
      </select>
    <!-- Supplier selectSupplierLikeByName(String SupplierName); 根据模糊查询供应商-->
    <select id="selectSupplierLikeByName"  >
                select * from supplier where supplierName like CONCAT('%',#{SupplierName},'%')
      </select>
   <!-- 根据id返回产品集合
    List<Goods> selectGoodsBySupplierId(int supplierID);-->
    <select id="selectGoodsBySupplierId"  resultType="com.liang.helper.beans.Goods">
                select * from goods where supplierID = #{supplierID}
      </select>
</mapper>